@import "navigation.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0a0d;
}
.popular-content {
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    padding-top:30px;
}
