* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:white;
}

.navigation {
    background-color: #d10000;
    margin-top:30px;
    padding: 0px 0px 0px 40px;
    display:flex;
    list-style: none;
}
.navigation li {
   
    font-weight: bold;
    padding: 12px 40px 12px 40px;
    color:white;
} 

.navigation li:hover {
    background-color: gray;
} 

.navigation li a {
    text-decoration: none;
    color:white;
}

img {
    width: 180px;
    height: 260px;
}

.information-container {
    display: flex;
    background-color: #312d2d;
    line-height: 1.4;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

.information-container .summary {
    padding: 0px 0px 0px 20px;
}

.chapters-content {
    line-height: 1.5;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 1px solid gray
    
}